@import url(http://fonts.googleapis.com/css?family=Noto+Serif|Special+Elite|Open+Sans|Raleway);

html {
  font-size: 100%;
}

body {
  background-color: #FFF5F5;
}

.login-right-side {
  margin-top: 4em;
  font-family: 'Noto Serif', serif;
  h1, h4 {
    font-weight: bold;
  }
  h1 {
    font-size: 3em;
  }
  .wrapper {
    margin: 0 3em;
  }
  .intro-text {
    margin-top: 2em;
    line-height: 1.9em;
    font-size: 1.5em;
  }
}
