{{#if session.isAuthenticated}}
  <div class='header'>
    <span class='headline'>
      Create-Your-Own Choose-Your-Own-Adventure <span class='small'>BETA</span>
    </span>
  </div>
{{/if}}
{{outlet}}

