{{#if session.isAuthenticated}}
  <div class='header'>
    <span class='headline'>
      {{#link-to 'index'}}Create-Your-Own Choose-Your-Own-Adventure{{/link-to}} <span class='small'>BETA</span>
    </span>
    <span class='headline pull-right'>
      <a href='#' {{action 'logout'}}>Logout</a>
    </span>
  </div>
{{/if}}
{{outlet}}

