<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-4 text-center'>
      <img id='cyoa-main-img' class='hidden' src='/img/Choose-Your-Own-Adventure.jpg'>
    </div>
    <div class='login-right-side col-xs-12 col-sm-6 col-sm-offset-2'>
      <div class='wrapper'>
        <h3>Holy God Damn Jesus</h3>

        <h3>It's a ...</h3>

        <em class='text-center'><h1>Create Your Own<br>
            Choose-Your-Own<br>
            Adventure <br>App</h1></em>

        <div class='intro-text'>
          You have been waiting all your life for this. <br>Fans of self-determination rejoice. <br>Create your own Choose-Your-Adventure story and share it with the world! 
        </div>

        <div class='login'>
        </div>
      </div>
    </div>
  </div>
</div>

{{anim-js}}

