<div class='container'>
  <div class='row'>
    <div class='img-side col-xs-12 col-sm-4 text-center'>
      <img id='cyoa-main-img' class='hidden' src='/img/Choose-Your-Own-Adventure.jpg'>
    </div>
    <div class='login-right-side col-xs-12 col-sm-6 col-sm-offset-2'>
      <div class='wrapper'>
        <h4>Holy God Damn Jesus<br> It's a ...</h4>

        <em ><h1>Create Your Own Choose-Your-Own-Adventure App</h1></em>

        <div class='intro-text'>
          <p>
            You have been waiting all your life for this. 
          </p>
          <p>
            Fans of self-determination rejoice. 
          </p>
          <p>
            Login to begin.
          </p>
        </div>
        <div class='login'>
        </div>
      </div>
    </div>
  </div>
</div>

{{anim-js}}

