<div class='new-story'>
  <div class='preview-title'>
    {{#if newStory.title}}
      <em>"{{newStory.title}}"</em>
    {{/if}}
  </div>
  {{input type='text' value=newStory.title placeholder='Something short but sweet ...'}}
</div>

