<div class='story-window'>
  <div class='story-title'>
    <em></em>
  </div>
  <div class='story-begin'>
    <a href=''>{{fa-icon 'angle-double-right'}} Begin</a>
  </div>
</div>

{{publish-js story=model.story}}

