<div class='story'>
  <div class='row'>
    <div class='story-title col-xs-12'>
      {{title}}
    </div>
    <div class='img-upload col-xs-12 col-sm-4'>
        <img {{bind-attr class=':img-responsive' src=img}}>
        <div class='filesize-err text-danger'>
          File size limit: 850KB
        </div>
        Story Image
        <br>
        {{img-upload title=title story=model id='file-input'}}
    </div>
  </div>
</div>

