<div class='story'>
  <div class='row'>
    <div class='story-title col-xs-12'>
      {{title}}
    </div>
    <div class='img-upload col-xs-12 col-sm-4'>
      <div id='drop-zone'>
        Drop Files Here
      </div>
    </div>
  </div>
</div>

